---
# Targets the evergreen latest release of ruby, truffleruby, and jruby
#   and tests against the HEAD of runtime dependencies
name: Runtime Deps @ HEAD

permissions:
  contents: read

env:
  K_SOUP_COV_DO: false

on:
  push:
    branches:
      - 'main'
      - '*-stable'
    tags:
      - '!*' # Do not execute on tags
  pull_request:
    branches:
      - '*'
  # Allow manually triggering the workflow.
  workflow_dispatch:

# Cancels all previous workflow runs for the same branch that have not yet completed.
concurrency:
  # The concurrency group contains the workflow name and the branch name.
  group: "${{ github.workflow }}-${{ github.ref }}"
  cancel-in-progress: true

jobs:
  test:
    name: Tests ${{ matrix.ruby }} gemfiles/${{ matrix.gemfile }}.gemfile ${{ matrix.name_extra || '' }}
    if: ${{ !contains(github.event.commits[0].message, '[ci skip]') && !contains(github.event.commits[0].message, '[skip ci]') }}
    runs-on: ubuntu-latest
    continue-on-error: ${{ matrix.experimental }}
    # NOTE: This does not use the primary Gemfile at all.
    env: # $BUNDLE_GEMFILE - set at job level, so applies to all steps
      BUNDLE_GEMFILE: ${{ github.workspace }}/gemfiles/${{ matrix.gemfile }}.gemfile
    strategy:
      fail-fast: false
      matrix:
        include:
          # Ruby <whichever version is current, e.g., 3.4 as of 2025-07-12>
          - ruby: "ruby"
            gemfile: "dep-heads"
            exec_cmd: "rake magic"
            rubygems: latest
            bundler: latest
            experimental: true

          # truffleruby <whichever version is current, e.g., 24.1 as of 2025-07-12>
          - ruby: "truffleruby"
            gemfile: "dep-heads"
            exec_cmd: "rake magic"
            rubygems: default
            bundler: default
            experimental: true

          # jruby <whichever version is current, e.g., 10.0 (targets Ruby 3.4 compatibility) as of 2025-07-12>
          - ruby: "jruby"
            gemfile: "dep-heads"
            exec_cmd: "rake magic"
            rubygems: default
            bundler: default
            experimental: true

    steps:
      - name: Checkout
        if: ${{ !env.ACT || !startsWith(matrix.ruby, 'jruby') }}
        uses: actions/checkout@v6

      - name: Setup Ruby & RubyGems
        if: ${{ !env.ACT || !startsWith(matrix.ruby, 'jruby') }}
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          rubygems: ${{ matrix.rubygems }}
          bundler: ${{ matrix.bundler }}
          bundler-cache: false
        continue-on-error: ${{ matrix.experimental != 'false' }}

      - name: bundle install
        if: ${{ !env.ACT || (env.ACT && !startsWith(matrix.ruby, 'jruby')) }}
        run: bundle install --gemfile ${{ github.workspace }}/gemfiles/${{ matrix.gemfile }}.gemfile
        continue-on-error: ${{ matrix.experimental != 'false' }}
      - name: Tests for ${{ matrix.ruby }} via ${{ matrix.exec_cmd }}
        if: ${{ !env.ACT || (env.ACT && !startsWith(matrix.ruby, 'jruby')) }}
        run: bundle exec --gemfile ${{ github.workspace }}/gemfiles/${{ matrix.gemfile }}.gemfile ${{ matrix.exec_cmd }}
        continue-on-error: ${{ matrix.experimental != 'false' }}
